{% extends 'base.html' %}

{% block content %}

  <style>
      div.main_block {
        padding-left: 400px;
        padding-right: 500px;
      }
  </style>
  
  <div class="title"><h2>Создание рецепта</h2></div>
  <div class="main_block">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="nameInput">Фото</label>
        <div class="form-control">{{ form.img }}</div>
      </div>
      <div class="form-group">
        <label for="nameInput">Название рецепта</label>
        <div class="form-control">{{ form.name }}</div>
      </div>
      <div class="form-group">
        <label for="nameInput">Теги</label>
        <div class="form-control">{{ form.type }}</div>
      </div>
      <div class="form-group">
        <label for="nameInput">Время приготовления</label>
        <div class="form-control">{{ form.cooking_time }}</div>
      </div>
      <div class="form-group">
        <label class="form-check-label">Добавить в избранное</label>
        <div class="form-check-input-lg">{{ form.favorite }}</div>
      </div>
      <br>
      <div class="form-group">
        <label class="form-check-label">Описание</label>
        <div class="form-check-input-lg">{{ form.instruction }}</div>
      </div>
      
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
{% endblock %}