{% extends 'base.html' %}

{% block content %}

  <style>
      div.main_block {
        padding-left: 400px;
        padding-right: 500px;
      }
  </style>
  
  <div class="title"><h2>{{ receipt.name }}</h2></div>
  <div class="main_block">
    <img class="food" src="{{receipt.img.url}}" width="800" height="500">
    {% if request.user.is_authenticated %}
              {% if is_favorite %}
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="form_id" value="form1">
                <button type="submit">Удалить из избранного</button>
              </form>
              {% else %}
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="form_id" value="form2">
                <button type="submit">Сохранить в избранное</button>
              </form>
              {% endif %}
    {% endif %}

    {% if request.user.is_authenticated %}
                      {% if receipt in purchased %}
                      <a href="{% url 'subscribe' receipt.id %}">{{ receipt.user }}</a><br>
                                          <a href="{% url 'edit' receipt.id %}" class="w-70 btn btn btn-outline-primary">Редактировать</a><br>
                          Время приготовления: {{ receipt.cooking_time }} мин.<br>
                          Прием пищи: {{ receipt.type }}<br>
                          Рецепт: {{ receipt.instruction }}<br><br><br><br> 
                      {% else %}
                                          {% if request.user == receipt.user %}
                                          <a href="{% url 'subscribe' receipt.id %}">{{ receipt.user }}</a><br>
                                          <a href="{% url 'edit' receipt.id %}" class="w-70 btn btn btn-outline-primary">Редактировать</a><br>
                                          Время приготовления {{ receipt.cooking_time }} мин.<br>
                                          Прием пищи {{ receipt.type }}<br>
                                          Рецепт {{ receipt.instruction }}<br>
                                          {% else %}
                                          <a href="{% url 'subscribe' receipt.id %}">{{ receipt.user }}</a><br>
                                              <a href="{% url 'checkout' receipt.id %}" class="w-70 btn btn btn-outline-primary">Совершить покупку</a><br>
                                              <br>
                                              Время приготовления: {{ receipt.cooking_time }} мин.<br>
                                              Прием пищи: {{ receipt.type }}<br>
                                              {% endif %}
                          <br>
                          <br>
                          <br>
                      {% endif %}
    {% else %}
    Время приготовления: {{ receipt.cooking_time }} мин.<br>
    Прием пищи: {{ receipt.type }}<br>
      <a href="{% url 'subscribe' receipt.id %}">{{ receipt.user }}</a>
      <a href="{% url 'login' %}" class="w-70 btn btn btn-outline-primary">Совершить покупку</a><br>
      <br>
      <br>
      <br>
    {% endif %}
    

  </div>
{% endblock %}