{% extends 'base.html' %}

{% block content %}

  <style>
      div.main_block {
        padding-left: 400px;
        padding-right: 500px;
      }
  </style>
  <div class="title"><h2>Мои подписки</h2></div><br>
  <div class="title"><h2>{{ receipt.name }}</h2></div>
  <div class="main_block">
    
    {% for username in subscribed_to_names %}
    <h2>{{ username }}</h2>
    <ul>
        {% for receipt in receipts %}
            {% if receipt.user.username == username %}
            <li><a href="{% url 'item' receipt.id %}">{{ receipt.name }}</a></li>          
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}    

  </div>
{% endblock %}